Package: listenpad 
Version: 0.1
Section: sound
Priority: extra
Essential: no
Architecture: i386
Depends: python (>=2.5), python-gtk2, mplayer, gstreamer0.10-plugins-ugly
Enhances: 
Suggests:
Installed-Size: 10
Maintainer: Chen Zheng [nkthunder@gmail.com]
Provides:ListenPad
Description:
    ListenPad - a light music player for linux 
    Yes, just another mplayer frontend.
